@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: "1em solid black";
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.visuals {
  position: relative;
  background-image: url("assets/worldmap.jpg");
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      135deg,
      rgba(9, 48, 52, 0.5),
      rgba(193, 49, 132, 0.5)
    );
  }
}

.buildingNumberElement {
  position: relative;
  top: 13px;
  text-align: center;
}
.map-container {
  position: absolute;
  inset: 0;
  z-index: 10;
}
.map-container canvas {
  cursor: crosshair;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
.marker {
  background-color: white;
  width: 8px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.1em solid black;
}
.marker-label {
  color: #424242;
  position: absolute;
  top: -1.5em;
  left: 0.1px;
}
.data-entry-form {
  width: 100%;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.marker-container {
  aspect-ratio: 1/1;
  padding: 10px;
  border-radius: 50%;
  border: 0.1em dashed #d50000;
}

.dot {
  background-color: #d50000;
  width: 5px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
/* .active {
  display: none !important;
} */
.btn {
  position: absolute;
  z-index: 2000;
}

.gradient {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
